$width: 300px;
$height: 400px;
$border_color: #ccc;
$bg_color:#ccc;
//
.main_container{width:$width;height:$height;border:1px solid $border_color;background-color:$bg_color;}
.bd{background-color:$bg_color;transition:all 0.2s ease;}